################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator Plugin/obj
/Calculator Plugin/.vs/Calculator Plugin/v16/.suo
/Calculator Plugin/bin/Debug/netcoreapp3.1
